.skills{
	background-color:#FFC107;
}

.containerSkills{
	padding-top: 30px;
	padding-bottom: 15px;
	
}

.skillTitle{
	text-align: center;
	font-size: 16pt;
	font-weight: normal;
	margin-bottom: 10px;
}

.offerTitle{

	text-align: center;
	font-size: 32pt;
	font-weight: 500;

}

.skillContainer{
	position: relative;
	margin: auto;
	text-align: center;
}

.title{
	text-align: left;
	font-size: 20pt;
	font-weight: bold;
}

.image{
	/*background-color: white;*/
	position: relative;
	display: inline-block;
	margin:auto;
	margin-right: 10px;
}

.imageContainer{
	border-bottom: 3px solid black;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-bottom: 2%;
}

.lastImgaeContainer{
	padding-bottom: 3%;
	padding-top: 3%;
	margin-bottom: 2%;
}


/*.well{
	background-color: #FACC6B;
	border-color: #FACC6B;
}*/



